<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
	<body>
	<div  style="width: 50%; margin-left: auto; margin-right: auto;">
		<h1 align="center">Cadastro de cerveja</h1>
		<hr>
		<form method="POST">
			<div>
				<label for="sku">SKU</label>
				<input type="text" id="sku" name="sku" style="display: block; width: 100%;" required>
			</div>
			<div>
				<label for="nome">Nome</label>
				<input type="text" id="nome" name="nome" style="display: block; width: 100%;">
			</div>
			<div>
				<label for="descricao">Descrição</label>
				<textarea rows="5" cols="10" dropzone="false" id="descricao" name="descricao" style="display: block; width: 100%;  resize: none;">
				</textarea>
			</div>
			<div style="margin-top: 20px;">
				<span th:text="${mensagem}" style="color: red; text-align: left;"></span>
				<input type="submit" value="Salvar" style="color: green; float: right;">
			</div>
		</form>
		</div>
	</body>

</html>