<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org">
	<body background="red">
		<div>
			<h1>Cadastro de cerveja</h1>
			<hr>
			<form method="POST" th:object="${cerveja}">
				<div>
					<label for="sku">SKU</label>
					<input type="text" id="sku" th:field="*{sku}" style="display: block; width: 100%;">
				</div>
				<div>
					<label for="nome">Nome</label>
					<input type="text" id="nome" th:field="*{nome}" style="display: block; width: 100%;">
				</div>
				<div>
					<label for="descricao">Descrição</label>
					<textarea rows="5" cols="10" dropzone="false" id="descricao" th:field="*{descricao}" style="display: block; width: 100%;  resize: none;">
				</textarea>
				</div>
				<div style="margin-top: 20px;">
					<input type="submit" value="Salvar" style="color: green; float: right;">
				</div>
			</form>
			<div th:each="erro : ${#fields.detailedErrors('${cerveja.*}')}">
				<span th:text="${erro.message}"></span>
			</div>
		</div>
	</body>

</html>